<form class="card card-body bg-dark text-white" id="recaudacionForm">
  <div class="card-body p-4">
    <h1 class="h5 mb-4">Agregar Recaudación</h1>

    <label for="id_transaccion">ID TRANSACCION:</label>
          <input
            name="id_transaccion"
            type="text"
            placeholder="id_transaccion"
            class="form-control mb-2"
            required
          >
    <label for="id_cuenta">ID CUENTA:</label>
          <input
            name="id_cuenta"
            type="text"
            placeholder="id_cuenta"
            class="form-control mb-2"
            required
          />

          <label for="id_mant_recibo">ID RECIBO:</label>
          <input
            name="id_mant_recibo"
            type="text"
            placeholder="id_mant_recibo"
            class="form-control mb-2"
            required
          />

          <label for="n_operacion">N° OPERACION:</label>
          <input
            name="n_operacion"
            type="text"
            placeholder="n_operacion"
            class="form-control mb-2"
            required
          /> 

          <label for="fecha_operacion">FECHA DE OPERACION</label>
          <input
            name="fecha_operacion"
            type="text"
            placeholder="fecha_operacion"
            class="form-control mb-2"
            required
          />

          <label for="moneda">MONEDA</label>
          <input
            name="moneda"
            type="text"
            placeholder="moneda"
            class="form-control mb-2"
            required
          />

          <label for="importe">IMPORTE</label>
          <input
            name="importe"
            type="text"
            placeholder="importe  "
            class="form-control mb-2"
            required
          />

          <label for="id_recaudacion_estado">ID RECAUDACION ESTADOS</label>
          <input
            name="id_recaudacion_estado"
            type="text"
            placeholder="id_recaudacion_estado"
            class="form-control mb-2"
            required
          />

          <label for="id_cuenta_predio">ID CUENTA DE PREDIO</label>
          <input
            name="id_cuenta_predio"
            type="text"
            placeholder="id_cuenta_predio"
            class="form-control mb-2"
            required
          />

          <label for="observacion">OBSERVACION</label>
          <input
            name="observacion"
            type="text"
            placeholder="observacion"
            class="form-control mb-2"
            required
          />

    <button class="btn btn-primary">Guardar</button>
  </div>
</form>