<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
    <h1>Login</h1>
    <div class="row" style="padding:10px;"></div>
    <form  method="POST" action="/submit">
        <label for="codusuario">codusuario:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <!--<input type="submit" value="Iniciar sesión">-->
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</body>
</html>
